
.result {
	font-size: 2.5em;
	color: #32CD32;
	font-weight: bold;
	padding-bottom: 0.5em;
}

.event-description {
	line-height: 200%;
}

.category {
	font-weight: bold;
	color: #6B6B6B;
}

button {
	font-size: 1.2em;
}

.generate {
	float: left;
}

.loading {
	margin-left: 1em;
	margin-top: 1.7em;
}

.push-left {
	float: left;
}

.title {
	margin-left: 1em;
}

.button {
	margin-left: 2em;
	margin-top: 1.2em;
}

.title-1 {
	font-size: 3em;
	font-weight: bold;
}

.title-2 {
	color: #919191;
}

.timeline {
	font-size: 2em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-left: 1em;
}